html {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
}

h2, p {
  color: black;
}

h2 {
  text-transform: uppercase;
}

header nav ul li {
  text-transform: uppercase;
}

header nav ul li a,
a:link {
  color: darkgreen;
}

a:visited {
  color: limegreen;
}

a:hover {
  color: #63ACB5;
}

a:focus {
  color: blue;
}

a:active {
  color: #63ACB5;
}
