html {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
}

h2, p {
  color: black;
}

h2 {
  text-transform: uppercase;
}

header nav ul li {
  text-transform: uppercase;
}
