html {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
}

h2, p {
  color: black;
}

h2 {
  text-transform: uppercase;
}

header nav ul li {
  text-transform: uppercase;
}

header nav ul li a,
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #63ACB5;
  text-decoration: underline;
}

a:focus {
  color: #63ACB5;
  text-decoration: underline;
}

a:active {
  color: #63ACB5;
  text-decoration: underline;
}
